.service-card {

    background: #F7F7F7;
    object-fit: contain;
}

.service-card .card {
    border-radius: 10px;
}

.image-box {
    background: #ffffff;
    overflow: hidden;
    height: 150px;
    object-fit: cover;
}

.service-card .card {
    background: #fff;
    transition: all 0.2s ease-in;

}

.service-card .card .text-box p {

    font-size: 10px;
    text-transform: capitalize;
    color: #000000;
}

.service-card .card .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #9b7c4d;
}